<?xml version="1.0"?>
<launch>
  <include file="$(find lynxmotion_quarc)/launch/load_al5d.launch" />
  <group ns="joint_controller">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  </group>
  <node name="lynxmotion_tm4c_driver" pkg="lynxmotion_tm4c" type="tm4c_node" output="screen">
    <rosparam command="load" file="$(find lynxmotion_quarc)/config/al5d.config" />
  </node>
  <node name="chatter_driver" pkg="chatter_tester" type="chatter_node" output="screen"/>
  <node name="quarc_user_interface" pkg="quarc_user_interface" type="index.py" output="screen"/>
  <node name="quarc_vision" pkg="quarc_vision" type="vision.py" output="screen"/>
</launch>
