controllers: {
  tm4c: {
    baud: 115200,
    port: /dev/ttyACM0,
    type: joint_controller,
    joints: [al5d_joint_0, al5d_joint_1, al5d_joint_2, al5d_joint_3, al5d_gripper],
    publish_joint_states: true,
    publish_rate: 25
  }
}

joints: {
  al5d_joint_0: {channel: 0, min_angle: 0, max_angle: 3.2, offset_angle: 0, default_angle: 0.00, invert: false},
  al5d_joint_1: {channel: 1, min_angle: 0, max_angle: 3.2, offset_angle: 0, default_angle: 1.79, invert: false},
  al5d_joint_2: {channel: 2, min_angle: 0, max_angle: 3.2, offset_angle: 0, default_angle: 1.42, invert: false},
  al5d_joint_3: {channel: 3, min_angle: 0, max_angle: 4.8, offset_angle: 0, default_angle: 0.00, invert: false},
  al5d_gripper: {channel: 4, min_angle: 0, max_angle: 3.2, offset_angle: 0, default_angle: 0,    invert: false}
}

manipulator:
  kinematics_solver: kdl_kinematics_plugin/KDLKinematicsPlugin
  kinematics_solver_search_resolution: 0.005
  kinematics_solver_timeout: 0.005
  kinematics_solver_attempts: 3