<style>
button, input, select, textarea{
	font-family: courier;
	font-size: 100%;
}

</style>

<form method="get" action="{{ action }}">

<!-- Pick text/entry -->
<div style="width: 100%;">
<div style="width: 20%; float: left; display: inline-block;"><b>
{{ pick_text }}
</b></div>
<div style="width: 80%; display: inline-block;"><b>
<input type="text" value="{{ default_text }}" name="{{ pick_name }}"/>
</b></div>

<div style="width: 100%; display: inline-block;"><br></div>

<!-- Place text/entry -->
<div style="width: 20%; float: left; display: inline-block;"><b>
{{ place_text }}
</b></div>
<div style="width: 80%; display: inline-block;"><b>
<input type="text" value="{{ default_text }}" name="{{ place_name }}"/>
</b></div>

<div style="width: 100%; display: inline-block;"><br></div>

<div style="width: 20%; float: left; display: inline-block;"><b>Plan and execute:</b></div>
<div style="width: 80%; display: inline-block;"><button type="submit"><b>{{ submit_button_text }}</b></button></div>
</div>
</form>
